body {
    background-image: linear-gradient(to bottom right, green, teal);
    color: white;
}

p {
    font-family: "Times New Roman";
}

h1 {
    font-family: "Copperplate";
}

img {
    width: 200px;
}
